@import "tailwindcss";
@theme {
  --font-orbitron: 'Orbitron', sans-serif;
  --font-rajdhani: 'Rajdhani', sans-serif;
  --font-tech: 'Space Grotesk', sans-serif;
}
@keyframes border1 {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes border2 {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}

@keyframes border3 {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes border4 {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}


.animate-border1{
  animation: border1 2s linear infinite;
}

.animate-border2{
  animation: border2 2s linear infinite;
  animation-delay: 1s;
}

.animate-border3{
  animation: border3 2s linear infinite;
}

.animate-border4{
  animation: border4 2s linear infinite;
  animation-delay: 1s;
}
